div#page {
	width: 1000px;
	margin: 10px auto;
	padding: 12px;
	border: solid 1px black;
	
	-moz-box-shadow: 0 0 0.3em #255b17;
	-webkit-box-shadow: 0 0 0.3em #255b17;
	box-shadow: 0 0 0.3em #255b17;
	
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}
