div#container {
	width: 1000px;
	margin: 10px auto;
	border: solid 1px black;
	
	-moz-box-shadow: 0 0 0.3em #255b17;
	-webkit-box-shadow: 0 0 0.3em #255b17;
	box-shadow: 0 0 0.3em #255b17;
}

div#banniere {
	width: 100%;
	height: 86px;
	background-image: url("../images/travelbook/header-blue.png");
}

div#banniere h1 {
	font-family: georgia,'droid sans',arial,sans-serif;
	margin: 0px;
	padding: 10px;
	font-size: 35px;
	color: white;
}

h2 {
	width: 100%;
	font-size: 20px;
	color: #0080ff;
	border-bottom: solid 1px #0080ff;
	text-align: left;
}

div.footer {
	width: 50%;
	margin: 0px auto 10px auto;
	padding: 0px;
	
	border: solid 1px black;
	
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	
	text-align: center;
}

div.footer p{
	margin: 5px;
	padding: 0px;
}

div#page {
	width: 98%;
	text-align: center;
	padding-bottom: 20px;
	margin: 0px auto;
}

div#inscription_left, div#inscription_right {
	display: inline-block;
	vertical-align: middle;
}

div#inscription_left {
	width: 560px;
}

div#inscription_right {
	width: 400px;
}

div#inscription_right form {
	width: 100%;
	text-align: left;
}

div#inscription_right div.champs {

}

div#inscription_right div.champs label {
	font-weight: bold;
}

div#inscription_right div.champs input:not([type="submit"]), div#inscription_right div.champs form textarea {
	width: 95%;
}

input, textarea, select {
	margin-bottom: 10px;
	border: solid 1px #E1E1E1;
	padding: 5px;
}

form input:not([type="submit"]):invalid, form textarea:invalid {
	background: url('../images/red_asterisk.png') 98% center no-repeat;
}

form input:not([type="submit"]):focus:invalid, form textarea:focus:invalid {
	border-color: #FF7777;
	background-image: none;
	-webkit-box-shadow: 0 0 5px #FF7777;
	-moz-box-shadow: 0 0 5px #FF7777;
	box-shadow: 0 0 5px #FF7777;
}

form input:not([type="submit"]):focus:valid, form textarea:focus:valid {
	border-color: #AAFFAA;
	background: url('../images/valid.png') 98% center no-repeat;
	-webkit-box-shadow: 0 0 5px #AAFFAA;
	-moz-box-shadow: 0 0 5px #AAFFAA;
	box-shadow: 0 0 5px #AAFFAA;
}

input.login {
	color: white;
	
	padding: 5px 10px;
	
	font-size: 19px;
	
	background: -webkit-gradient(linear, center top, center bottom, from(#6755ae), to(#574388));
	background: -webkit-linear-gradient(top, #6755ae, #574388);
	background-color: #574388;
	-webkit-box-shadow: inset 0 1px 1px #a488e3;
	border-color: #3b6e22 #3b6e22 #2c5115;
}

input.signin {
	color: white;
	
	padding: 5px 10px;
	
	font-size: 19px;
	
	background: -webkit-gradient(linear, center top, center bottom, from(#67ae55), to(#578843));
	background: -webkit-linear-gradient(top, #67ae55, #578843);
	background-color: #69a74e;
	-webkit-box-shadow: inset 0 1px 1px #a4e388;
	border-color: #3b6e22 #3b6e22 #2c5115;
}

table.users, table.friends, table.travels {
	margin: 0px auto 10px auto;
}

table.users td, table.friends td{
	padding: 0px 10px;
}

table.users img.profile, table.friends img.profile {
	max-width: 100px;
	max-height: 100px;
}

table.travels img.travel {
	max-width: 200px;
	max-height: 150px;
}
